<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('main.user', username=equation.author.username) }}">
                <img src="{{ equation.author.avatar(70) }}"/>
            </a>
        </td>
        <td>
            {% set user_link %}
                <span class="user_popup">
                    <a href="{{ url_for('main.user', username=equation.author.username) }}">
                        {{ equation.author.username }}
                    </a>
                </span>
            {% endset %}
            {{ user_link }}s said {{ moment(equation.timestamp).fromNow() }}s
            <br>
            <span id="equation{{ equation.id }}">{{ equation.equation_str }}</span>
        </td>
    </tr>
</table>
