{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            <b>Please enter values to calculate!</b><br>
            {{ form.x_var }} {{ form.operator }} {{ form.y_var }}
            {% for error in form.y_var.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
    {% for equation in equations %}
        {% include '_equation.html' %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer Equations</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older Equations</a>
    {% endif %}
{% endblock %}